@use "../variables" as *;

.about-image-text-block {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 1180px;
  padding: 0px 30px;
  gap: 48px;
}
.about-image-text-block-2 {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 1180px;
  padding: 0px 30px;
  gap: 48px;
}
.about-img {
  flex: 1 1 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  max-width: 490px;
}
.about-text {
  display: flex;
  justify-content: center;
  align-items: baseline;
  flex-direction: column;
  text-align: left;
  gap: 24px;
  width: 100%;
  flex: 1 1 50%;
  padding: 36px 0;
  border-top: 2px solid #ccc; /* 上線 */
  border-bottom: 2px solid #ccc; /* 下線 */
}

/* mobile */
@media (max-width: 768px) {
  .about-image-text-block {
    flex-direction: column-reverse;
  }
  .about-text {
    padding: 0;
  }
  .about-image-text-block-2 {
    flex-direction: column;
  }
}
