$primary: #6C3427;
$brown: #B6362D;
$yellow:#E9AF53;
$white:#EFECE7;
$text-color: #160601;

// 字體
$font-family-base: 'Noto Sans TC', 'Helvetica', 'Arial', 'sans-serif';
$font-size-base: 16px;

// 空間
$padding-base: 1rem;
$margin-base: 1rem;