/* 顏色 */
$Primary: #6c3427;
$Secoundary-Red: #b6362d;
$Secoundary-Brown: #8a4d2a;
$Secoundary-Yellow: #e9af53;
$Secoundary-Blue: #5774b0;
$Gray: #efece7;
$Black: #160601;
$White: #ffffff;

/* 字級 */
// 文字使用範例
h1 {
  font-size: 2.25rem; // 約 36px
  line-height: 1.2;
  margin-bottom: 24px;
}
h2 {
  font-size: 1.875rem; // 約 30px
  line-height: 1.3;
}
p {
  font-size: 1rem; // 16px
  line-height: 1.5;
}
h3 {
  font-size: 0.875rem; // 約 14px
  line-height: 1.4;
}

// 手機版調整
@media (max-width: 768px) {
  h1 {
    font-size: 1.75rem; // 約 28px
    line-height: 1.3;
  }
  h2 {
    font-size: 1.5rem; // 約 24px
    line-height: 1.35;
  }
  p {
    font-size: 0.9375rem; // 約 15px
    line-height: 1.5;
  }
  h3 {
    font-size: 0.8125rem; // 約 13px
    line-height: 1.4;
  }
}

/* 內容 */
html {
  box-sizing: border-box;
  font-family: "Noto Sans TC", "PingFang TC", "Microsoft JhengHei", sans-serif;
  /*scrollbar-gutter: stable;*/
  overflow-x: hidden;
  font-size: 16px;
  line-height: 1.5rem;
  font-weight: 400;
  background-image: url(../assets/img-index-bg.svg);
  background-size: cover;
  color: #efece7;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  width: 100%;
  margin: 0;
}

a {
  color: #efece7;
  text-decoration: none;
  transition: color 0.3s ease;
}

a:hover {
  color: #8a4d2a; // 滑鼠移上去變色
  cursor: pointer;
}

/* 容器 */
.section-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  margin-top: 200px;
}

/* mobile */
@media (max-width: 768px) {
  .section-container {
    margin-top: 60px;
  }
}



.about-section-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  margin: 200px 0;
}

/* mobile */
@media (max-width: 768px) {
  .about-section-container {
    margin-top: 150px;
  }
}
