/* 顏色 */
$Primary:#6C3427;
$Secoundary-Red:#B6362D;
$Secoundary-Brown:#8A4D2A;
$Secoundary-Yellow:#E9AF53;
$Secoundary-Blue:#5774B0;
$Neutral-Gray:#EFECE7;
$Neutral-Black:#160601;
$Neutral-White:#FFFFFF;


/* 內容 */
html, body {
    width: 100%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
    font-family: "Noto Sans TC", "sans-serif";
    font-weight: 400;
    scrollbar-gutter: stable;
    background-color: #6C3427;
    width: 100%;
    height: auto;
}

.d-flex {
    display: flex;
}
.d-flex-j-start-a-center {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.justify-content-center {
    justify-content: center;
}
.justify-content-between {
    justify-content: space-between;
}
.align-items-center {
    align-items: center;
}
.p-relative {
    position: relative;
}
.p-absolute {
    position: absolute;
}