@use '../node_modules/bootstrap/scss/bootstrap-reboot.scss' ;
@use '../node_modules/bootstrap/scss/bootstrap-grid.scss';
@use '../stylesheets/page/inner';

//顏色
$white: #EFECE7;
$black: #160601;


//字體


// 導覽列.css
.brand {
    position: block;
    z-index: 1000;
}
.navbar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: white, 0.3;
    backdrop-filter: blur(3px);
    z-index: 1000;
    .navbar-list {
        display: flex;
        list-style: none;
        margin: 0;
        padding: 0;
    }
    .list-item {
        padding: 1rem;
        display: block;
        text-decoration: none;
        color: $white;
        &:hover, &.active {
            color:$black;
        }
    }


}
.bg-img {
    display: block;
    height: 100vh;
    width: 100%;
    background-position: center;
    align-items: center;
    justify-content: center;
}

// 商店介紹

// Utilities.scss
.d-flex {
    display: flex;
}
.d-flex-j-start-a-center {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.justify-content-center {
    justify-content: center;
}
.justify-content-between {
    justify-content: space-between;
}
.align-items-center {
    align-items: center;
}
.p-relative {
    position: relative;
}
.p-absolute {
    position: absolute;
}