@charset "UTF-8";
/* 顏色 */
/* 字級 */
h1 {
  font-size: 2.25rem;
  line-height: 1.2;
  margin: 14px 0;
  font-weight: 400;
}

h2 {
  font-size: 1.875rem;
  line-height: 1.3;
  font-weight: 400;
}

h3 {
  font-size: 1.125rem;
  line-height: 1.6875;
  font-weight: 400;
}

h4 {
  font-size: 1.125rem;
  line-height: 1.6875;
}

p {
  font-size: 1rem;
  line-height: 1.5;
  margin-bottom: 16px;
}

h5 {
  font-size: 0.875rem;
  line-height: 1.4;
}

@media (max-width: 768px) {
  h1 {
    font-size: 1.75rem;
    line-height: 1.2;
    font-weight: 400;
  }
  h2 {
    font-size: 1.5rem;
    line-height: 1.35;
    font-weight: 400;
  }
  h3 {
    font-size: 1rem;
    line-height: 1.5;
    font-weight: 400;
  }
  h4 {
    font-size: 1.125rem;
    line-height: 1.5;
  }
  p {
    font-size: 0.9375rem;
    line-height: 1.5;
  }
  h5 {
    font-size: 0.8125rem;
    line-height: 1.4;
  }
}
.button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 230px;
  height: 36px;
  border: 1px solid #efece7;
  background-color: transparent;
  color: #efece7;
  text-decoration: none;
  font-size: 1rem;
  transition: all 0.3s ease;
  cursor: pointer;
}
.button.primary:hover {
  background-color: #efece7;
}
.button.secondary {
  background-color: rgb(192.5204081633, 102.806122449, 81.9795918367);
  color: #6c3427;
  border: 2px solid #6c3427;
}
.button.secondary:hover {
  background-color: rgb(206.0510204082, 135.7653061224, 119.4489795918);
}
.button.disabled {
  background-color: #ddd;
  color: #888;
  cursor: not-allowed;
  pointer-events: none;
}

/* 內容 */
html {
  box-sizing: border-box;
  font-family: "Noto Sans TC", "PingFang TC", "Microsoft JhengHei", sans-serif; /*scrollbar-gutter: stable;*/
  overflow-x: hidden;
  font-size: 16px;
  line-height: 1.5rem;
  font-weight: 300;
  background-image: url(../assets/img-index-bg.svg);
  background-size: cover;
  color: #efece7;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  width: 100%;
  margin: 0;
  opacity: 0;
  transition: opacity 0.9s ease-in-out;
  scroll-snap-type: y mandatory; /* 垂直吸附 */
  scroll-behavior: smooth; /* 平滑滾動 */
  overflow: hidden;
}

body.fade-in {
  opacity: 1;
}

a {
  color: #efece7;
  text-decoration: none;
  transition: color 0.3s ease;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

a:hover {
  color: #8a4d2a;
  cursor: pointer;
  font-weight: 400;
}

/* 容器 */
.section-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  margin-top: 130px;
}

/* mobile */
@media (max-width: 768px) {
  .section-container {
    margin-top: 60px;
  }
}
#preloader {
  position: fixed;
  inset: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 1;
  visibility: visible;
  z-index: 9999;
  transition: opacity 2s ease, visibility 2s ease;
}

#preloader.fade-out {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.loader img {
  opacity: 0;
  transform: scale(0.2);
  transition: opacity 0.8s ease, transform 3s ease;
}

.loader img.show {
  opacity: 1;
  transform: scale(1);
}

.loader img.fade-out {
  opacity: 0;
}

.banner {
  position: relative;
  overflow: hidden;
}

.img-banner {
  width: 100%;
  height: auto;
  display: block;
}

.cover-text {
  position: absolute;
  top: 70%;
  left: 70%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: rgba(239, 236, 231, 0.5);
  font-size: 5rem;
  font-weight: 600;
  pointer-events: none; /* 不影響點擊 */
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none; /* 文字不可被選取 */
}

.slide-in-left {
  opacity: 0;
  transform: translateX(-100%);
  animation: slideInLeft 3s forwards;
  animation-delay: 1s;
}

.slide-in-right {
  opacity: 0;
  transform: translateX(100%);
  animation: slideInRight 3s forwards;
  animation-delay: 1s;
}

@keyframes slideInLeft {
  to {
    opacity: 1;
    transform: translateX(10px);
  }
}
@keyframes slideInRight {
  to {
    opacity: 1;
    transform: translateX(-30px);
  }
}
.banner {
  position: relative;
}

.img-banner {
  width: 100%;
  height: auto;
  display: block;
}

.banner-overlay {
  position: absolute;
  inset: 0; /* top:0; right:0; bottom:0; left:0; */
  background-color: rgba(0, 0, 0, 0.4); /* 40% 透明黑色遮罩 */
  pointer-events: none; /* 不影響下面元素互動 */
}

.suathiongting-header {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
  width: 100%;
  height: 80px;
  z-index: 999;
  background-color: rgba(225, 225, 225, 0.55);
  transition: box-shadow 0.3s ease;
}
.suathiongting-header.scrolled {
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 80px;
  margin: 0 80px;
  max-width: 1440px;
}

.nav-toggle-container {
  display: none;
  background: none;
  cursor: pointer;
}

.logo {
  display: block;
  width: auto;
  height: 24px;
}

.logo :hover {
  cursor: pointer;
}

.nav-list-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 48px;
}

/* mobile */
@media (max-width: 768px) {
  .nav-container {
    margin: 0 30px;
    height: 80px;
  }
  .logo {
    max-height: 24px;
  }
  .nav-list-container {
    display: none;
  }
  .nav-toggle-container {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .nav-menu-open {
    display: inline;
  }
  .nav-menu-close {
    display: none;
  }
  .nav-toggle-container.active .nav-menu-open {
    display: none;
  }
  .nav-toggle-container.active .nav-menu-close {
    display: inline;
  }
  .nav-top-container {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 80px;
    top: 0;
    left: 0;
    right: 0;
  }
  .mobile-nav-overlay {
    position: fixed;
    inset: 0;
    background: linear-gradient(to bottom, rgb(60, 20, 0), rgba(60, 20, 0, 0.9), rgba(60, 20, 0, 0.3));
    z-index: 1000;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.5s ease, transform 0.5s ease;
  }
  .mobile-nav-overlay.active {
    opacity: 1;
    transform: translateY(0);
    pointer-events: auto;
  }
  .nav-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 100%;
    margin: 0 30px;
  }
  .logo {
    height: 32px;
  }
  .mobile-nav-menu-close {
    height: 24px;
    cursor: pointer;
  }
  .nav-top-list-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 48px;
  }
}
@media (min-width: 769px) {
  .mobile-nav-overlay {
    display: none !important;
  }
}
.img-banner {
  width: 100%;
  height: 100vh;
  -o-object-fit: cover;
     object-fit: cover;
}

.intro-image-text-block {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 1180px;
  padding: 0px 30px;
  gap: 48px;
}

.img-intro {
  flex: 1 1 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  max-width: 490px;
}

.intro-text {
  display: flex;
  justify-content: center;
  align-items: baseline;
  flex-direction: column;
  text-align: left;
  gap: 24px;
  width: 100%;
  flex: 1 1 50%;
  padding: 219px 0;
}

/* mobile */
@media (max-width: 768px) {
  .intro-image-text-block {
    flex-direction: column-reverse;
  }
  .intro-text {
    padding: 0;
  }
}
@media (min-width: 768px) {
  .img-intro {
    width: 50%;
  }
  .intro-text {
    width: 50%;
  }
}
.product-swiper-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  width: 100%;
  height: 100%;
  gap: 24px;
  margin: 100px 0;
  padding: 0 30px;
}

.swiper-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: auto;
  gap: 40px;
  isolation: isolate;
}

.marquee {
  width: 100%;
  overflow: hidden;
  position: relative;
}

.marquee-track {
  display: flex;
  width: -moz-max-content;
  width: max-content;
  animation: scroll-left linear infinite;
}

.marquee-track img {
  width: 300px;
  height: auto;
  margin-right: 40px;
  -o-object-fit: cover;
     object-fit: cover;
}

@keyframes scroll-left {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}
.product-swiper-text {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 100%;
  height: 100%;
}

/*mobile */
@media (max-width: 768px) {
  .swiper-wrapper {
    height: 80%;
    width: auto;
  }
  .product-swiper-container {
    align-items: flex-start;
    padding: 0 30px;
  }
  .product-swiper-text {
    align-items: flex-start;
  }
}
.footer-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 60px;
  padding: 50px 30px;
  margin: 150px 0px;
}

.footer-text {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  gap: 24px;
}

.footer-text-item {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 18px;
}

@media (max-width: 768px) {
  .footer-container {
    align-items: flex-start;
  }
}
.floating-button {
  position: fixed;
  bottom: 24px;
  right: 30px;
  z-index: 999;
  opacity: 0;
  transform: translateY(20px);
  pointer-events: none;
  transition: opacity 0.3s ease, transform 0.3s ease;
}
.floating-button.active {
  opacity: 1;
  transform: translateY(0);
  pointer-events: auto;
}
.floating-button .floating-button-wrapper {
  display: flex;
  flex-direction: column;
  gap: 12px;
}
.floating-button .floating-button-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;
}
.floating-button img {
  width: 48px;
  height: 48px;
  cursor: pointer;
  transition: transform 0.2s ease;
}
.floating-button img:hover {
  transform: scale(1.1);
}

.about-section-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  margin: 120px 0;
}

.about-image-text-block {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 1180px;
  padding: 0px 30px;
  gap: 48px;
}

.about-image-text-block-2 {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 1180px;
  padding: 0px 30px;
  gap: 48px;
}

.about-img {
  flex: 1 1 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  max-width: 490px;
  position: relative; /* 原本是flex item，可改成relative */
  will-change: transform;
  transition: transform 0.2s ease-out;
}

.about-text {
  display: flex;
  justify-content: center;
  align-items: baseline;
  flex-direction: column;
  text-align: left;
  gap: 24px;
  width: 100%;
  flex: 1 1 50%;
  padding: 36px 0;
  border-top: 1px solid #ccc; /* 上線 */
  border-bottom: 1px solid #ccc; /* 下線 */
}

.about-text {
  position: relative; /* 讓 ::before ::after 定位參考 */
  display: flex;
  justify-content: center;
  align-items: baseline;
  flex-direction: column;
  text-align: left;
  gap: 24px;
  width: 100%;
  flex: 1 1 50%;
  padding: 36px 0;
  border-top: none;
  border-bottom: none;
}
.about-text::before, .about-text::after {
  content: "";
  position: absolute;
  left: 0;
  width: 0;
  height: 1px;
  background-color: #ccc;
  animation: lineExpand 2s forwards;
}
.about-text::before {
  top: 0; /* 上線 */
}
.about-text::after {
  bottom: 0; /* 下線 */
  animation-delay: 0.5s; /* 延遲0.5秒跑，效果更有層次 */
}

@keyframes lineExpand {
  to {
    width: 100%;
  }
}
@media (min-width: 768px) {
  .about-img {
    width: 50%;
  }
  .about-text {
    width: 50%;
  }
}
/* mobile */
@media (max-width: 768px) {
  .about-section-container {
    margin-top: 150px;
  }
  .about-image-text-block {
    flex-direction: column-reverse;
  }
  .about-text {
    padding: 0;
  }
  .about-image-text-block-2 {
    flex-direction: column;
  }
}
.product-menu-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  height: 100%;
  max-width: 1200px;
  gap: 30px;
  padding: 0 30px;
}

.product-menu-text {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: row;
  width: 100%;
  height: 100%;
}

.product-menu-img-container {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  max-width: 1200px;
  border-top: 1px solid #ccc;
}

.product-menu-img {
  width: 100%;
  height: auto;
  margin: 30px 0;
  max-width: 800px;
}

.product-menu-tab {
  display: flex;
  justify-content: center;
  gap: 2rem;
  list-style: none;
  padding: 0;
  margin-bottom: 1.5rem;
}

.product-menu-tab li {
  cursor: pointer;
  font-size: 18px;
  padding: 8px 16px;
  border-bottom: 2px solid transparent;
  transition: 0.3s;
}

.product-menu-tab li.active {
  border-bottom: 1px solid #ccc;
  font-weight: bold;
}

.product-menu-img {
  display: none;
  width: 100%;
  margin: 0 auto;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.5s ease-in-out;
}

.product-menu-img.active {
  display: block;
  opacity: 1;
  visibility: visible;
  position: relative;
  z-index: 1;
}

.product-list-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
  height: 100%;
  gap: 30px;
  padding: 0 30px;
}

.product-list-container h1 {
  text-align: center;
}

.product-list-block-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 36px;
  padding: 30px;
  max-width: 1200px;
  margin: 0 auto;
  width: 100%;
  border-top: 1px solid #ccc;
}

.product-list-block-card-img {
  width: 100%;
  height: auto;
  max-width: 300px;
  min-height: 100px;
  margin-bottom: 4px;
}

.product-list-block-card-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  text-align: left;
  box-sizing: border-box;
  width: calc(25% - 27px); /* 一排4個，扣除gap */
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 1s ease, transform 0.8s ease;
  box-sizing: border-box;
}

.product-list-block-card-container.visible {
  opacity: 1;
  transform: translateY(0);
}

.product-list-block-card-text {
  text-align: left;
}

.product-menu-img-container,
.product-list-block-container {
  position: relative; /* 讓 ::before 定位參考 */
  border-top: none; /* 先取消原本的實線 */
  padding: 30px 0;
}
.product-menu-img-container::before,
.product-list-block-container::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 1px;
  width: 0;
  background-color: #ccc;
  animation: lineExpand 2s forwards;
}

.product-list-block-container::before {
  animation-delay: 0.5s;
}

@keyframes lineExpand {
  to {
    width: 100%;
  }
}
@media (max-width: 768px) {
  .product-menu-container {
    margin-top: 50px;
    gap: 0;
    align-items: flex-start;
  }
  .product-list-container {
    gap: 0;
    justify-content: flex-start;
    align-items: flex-start;
  }
  .product-menu-text {
    justify-content: flex-start;
    align-items: flex-start;
  }
  .product-list-container h1 {
    display: flex;
    justify-content: flex-start;
  }
  .product-list-block-card-img {
    width: 100%;
    height: auto;
    max-width: 100%;
  }
  .product-list-block-container {
    gap: 16px;
    justify-content: center;
  }
  .product-list-block-card-container {
    width: calc(50% - 8px); /* 一排兩個 */
  }
  .product-menu-tab {
    justify-content: flex-start;
    align-items: flex-start;
    text-align: left;
  }
}
.location-section-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 100%;
  padding: 0 30px;
  max-width: 1200px;
}

.location-map-text-block {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 100%;
  gap: 48px;
}

.location-map {
  position: relative; /* 讓 ::before 定位參考 */
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  padding-top: 48px;
}
.location-map::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 1px;
  width: 0; /* 從 0 開始 */
  background-color: #ccc;
  animation: lineExpand 2s forwards; /* 2秒動畫，執行完保持最後狀態 */
}

@keyframes lineExpand {
  to {
    width: 100%; /* 寬度從0變成100% */
  }
}
.map-wrapper {
  position: relative;
  width: 100%;
  max-width: 100%;
  aspect-ratio: 16/9;
  overflow: hidden;
}
.map-wrapper iframe {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  border: 0;
}

.location-text {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  text-align: left;
  flex-direction: column;
  width: 100%;
  height: 100%;
  gap: 36px;
}

.location-info {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  text-align: left;
  gap: 8px;
}

/* mobile */
@media (max-width: 768px) {
  .location-section-container {
    margin-top: 50px;
    align-items: flex-start;
  }
}/*# sourceMappingURL=all.css.map */